<h3>All <%= @category.name %> that are available.</h3>

<% @category.products.each do |product| %>
  <%= render partial: 'products/product', object: product %>
<% end %>

<%= link_to 'Back', categories_path%>

